#feeds {

	#sideBar {

		#categories {
			list-style-type: none;
			margin-left: 0px;
			padding-left: 0px;
			padding-top: 50px;
			cursor: pointer; 

			#allFeeds {
				.icon-rss {
					
				}
			}

			.feeds {
				list-style-type: none;
				padding-left: 20px;

				.feed {
					max-width: 150px;
					display: inline-block;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}

	#main-content {

		#feed-list {
			list-style-type: none;

			.feed-item {
				border-bottom: 1px solid $PRIMARY_COLOUR;
				padding: 5px 0px 5px 20px;
				
				.feedSource, .feedTitle, .feedPubDate {
					cursor: pointer;
				}

				.feedSource {
					width: 20%;
					max-width: 200px;
					display: inline-block;
					white-space: nowrap;
		  			overflow: hidden;
		  			text-overflow: ellipsis;
				}

				.feedTitle {
					width: 70%;
					display: inline-block;
				}
				
				article {
					margin-left: 120px;
					width: 80%;
					display: none;
					
					h3 {
						font-size: 22px;
					}
					
					span {
						color: rgb(177, 188, 197);
					}
				}
			}
			
			.feed-item.even {
				background-color: rgb(251, 251, 251);
			}
			
			.feed-item:hover {
				background-color: rgb(240, 240, 240);
			}
		}
	}
}


@media all and (max-width: 800px) {
body {
	padding: 0px;
}

#header {
	wwidth: inherit;
}

	#feeds {

		#sideBar {
			display: none;	
		}
	
	
		#main-content {
	
			#feed-list {
				list-style-type: none;
	
				.feed-item {
	
					.feedSource {
						width: 100%;
						display: block;
					}
	
					.feedTitle {
						width: 100%;
						display: block;
					}
					
					article {
						margin-left: 0px;
						width: 100%;
						display: none;
						
					}
				}
			}
		}
	}

}