#feeds {
	
	h2 {
		font-size: 20px;
		padding-left: 20px;
		margin-top: 0px;
	}

	#sideBar {
		float: left;
  		width: 150px;

		#categories {
			list-style-type: none;
			margin-left: 0px;
			padding-left: 0px;
			padding-top: 50px;
			cursor: pointer;

			#allFeeds {
				.icon-rss {
					
				}
			}

			.feeds {
				list-style-type: none;
				padding-left: 20px;

				.feed {
					max-width: 170px;
					display: block;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}

	#main-content {
		float: left;
		width: 80%;

		#feed-list {
			list-style-type: none;
			padding-left: 0px;

			.feed-item {
				border-bottom: 1px solid $PRIMARY_COLOUR;
				padding: 5px 0px 5px 20px;
				
				.feedSource, .feedTitle, .feedPubDate, .deleteFeed {
					cursor: pointer;
				}

				.feedSource {
					width: 20%;
					max-width: 200px;
					display: inline-block;
					white-space: nowrap;
		  			overflow: hidden;
		  			text-overflow: ellipsis;
		  			vertical-align: bottom;
				}

				.feedTitle {
					width: 65%;
					display: inline-block;
				}
				
				.feedItemBtns {
					float: right;
				}
				
				article {
					margin-left: 120px;
					width: 80%;
					display: none;
					
					h3 {
						font-size: 22px;
					}
					
					span {
						color: rgb(177, 188, 197);
					}
				}
			}
			
			.feed-item.even {
				background-color: rgb(251, 251, 251);
			}
			
			.feed-item:hover {
				background-color: rgb(240, 240, 240);
			}
			
			.feed-item.unread {
				font-weight: bold;
			}
		}
	}
}


@media all and (max-width: 800px) {
	body {
		padding: 0px;
	}
	
	#header {
		.icon-menu {
			display: inline-block;
		}
	}

	#feeds {

		#sideBar {
			display: none;	
		}
		
		#sideBar.display {
			display: inline-block;
		 	position: fixed;
			background: darkgray;
			width: 190px;
			height: 100%;
		}
	
	
		#main-content {
			width: 100%;
	
			#feed-list {
				list-style-type: none;
				padding: 0px;
	
				.feed-item {
	
					.feedSource {
						width: 100%;
					}
	
					.feedTitle {
						width: 100%;
						display: block;
					}
					
					article {
						margin-left: 0px;
						width: 100%;
						display: none;
						
					}
				}
			}
		}
	}
}