#settings {
  	margin-top: 40px;
  	position: absolute;
  	top: 25px;
	

	.nav-tabs {
		a {
			width: 120px;
			text-align: center;
		}
	}
	
	.tab-pane {
		padding: 100px;
		
		ul {
			list-style: none;
			padding : 0px;
			margin : 0px;
			
			li {
				margin-bottom: 10px;
			}
		}
		
		.category-name, .feed-name {
			display: inline-block;
			margin-right: 15px
		}
		
		.category-name {
			width: 200px;
		}
		
		.feed-name {
			width: 300px;
		}
	}
	
	#manageFeeds {
		margin-left: 25px;
	
		th, td {
			border: 1px solid grey;
			padding: 10px;
		}
		
		
		#addFeed {
			margin-top: 20px;
			float: right;
  			cursor: pointer;
		}
	
	}
	
	.editFeed, .deleteFeed {
		cursor: pointer;
	}
}
