#settings {
  	margin-top: 40px;
  	position: absolute;
  	top: 25px;
	width: 90%;
	max-width: 1200px;
	
	.editCategory, .deleteCategory, .editFeed, .deleteFeed, #addFeed {
		cursor: pointer;
	}
	
	.editFeed, .deleteFeed {
		padding: 0px 5px;
	}
	
	#addFeed {
		font-size: 12px;
		margin-left: 10px;
	}

	.categoryActions {
		float: right;
		
		.deleteCategory {
			margin-left: 10px;
		}
	}

	ol.feeds {
		list-style: none;
		margin-top: 20px;
		  
		li {
			border-bottom: solid 1px lightgrey;
  			margin-bottom: 10px;
  			padding-bottom: 5px;
		
			.feedName {
				display: inline-block;
			}
			
			.feedBtns {
				float: right;
			}
		}
	}
}
