<ng-include src="'app/partials/loggedOutHeader.html'"></ng-include>

<br>

<div id="loginPanel" class="panel panel-default">
  <div class="panel-body">
    <form role="form">
    	<div id="logo">
    		<i class="icon-rss"></i>
    		<span>Old News</span>
    	</div>
    	<div ng-show="errorMessage != ''" class="alert alert-danger">{{errorMessage}}</div>
    	<div class="form-group">
	    	<label for="email">Email address</label>
	    	<input type="text" name="email" id="email" placeholder="name@domain.com" ng-model="email"/>
	  	</div>
	  	<div class="form-group">
	    	<label for="exampleInputPassword1">Password</label>
	    	<input type="password" name="password" id="password" placeholder="password" ng-model="password"/>
	  	</div>
	  	<button id="login" class="btn btn-primary" type="button" ng-click="login()">Login</button>
	  	<br class="clear">
	  	<div id="signUp" >Not a registered user yet? <a href="#/signUp">Sign Up</a></div>
    </form>
  </div>
</div>