<!-- BEGIN: Sticky Header 2-->
<div id="header_container">
    <div id="header">
        <span id="mini-logo"><i class="icon-rss"></i>Old News</span>
        <div id="header-nav">
            <span class="dropdown">
			    <span class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
			        {{name}}
			        <span class="caret"></span>
			    </span>
			    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
				    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="refresh()">Refresh</a></li>
				    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/manage">Manage Feeds</a></li>
				    <li role="presentation"><a role="menuitem" tabindex="-1">Settings</a></li>
				    <li role="presentation" class="divider"></li>
				    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="logout()">Log out</a></li>
				</ul>
			</span>
            <i id="settingsIcon" class="icon-cog"></i>
        </div>
    </div>
</div>
<!-- END: Sticky Header -->
 
<div id="settings" class="container-fluid">

		<div id="manageFeeds">
			<h2>Feeds</h2>
			<table>
				<thead>
					<tr>
						<th>Feed Name</th>
						<th>Category</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="feed in feeds">
						<td>{{feed.name}}</td>
						<td>{{feed.category}}</td>
						<td>
							<span class="glyphicon glyphicon-edit" ng-click="editFeed(feed, feedCategory)" data-toggle="modal" data-target="#feedModal"></span>
	 						<span class="glyphicon glyphicon-trash" ng-click="deleteFeed(feed)"></span>
	 					</td>
					</tr>
				</tbody>
			</table>
			<a id="addFeed" ng-click="addFeed()" data-toggle="modal" data-target="#feedModal">Add Feed</a>
		</div>
</div>

<div class="modal fade" id="feedModal" tabindex="-1" role="dialog" aria-labelledby="feedModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="addFeedForm" role="form">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Add new feed</h4>
	      </div>
	      <div class="modal-body">
	        <div class="form-group">
			    <label for="feedName">Name *</label>
			    <input type="text" class="form-control" id="feedName" placeholder="Enter feed name" ng-model="currentFeed.name" ng-change="validateForm(currentFeed, addFeedForm)" autocomplete="off" required>
			</div>
			<div class="form-group">
			    <label for="url">URL *</label>
			    <input type="url" class="form-control" id="url" placeholder="Enter feed url" ng-model="currentFeed.url" ng-change="validateForm(currentFeed, addFeedForm)" autocomplete="off" required>
			</div>
			<div class="form-group">
			    <label for="category">Category</label>
			    <select id="category" class="form-control" name="category" ng-model="currentFeed.categoryId" ng-change="validateForm(currentFeed, addFeedForm)" autocomplete="off" required>
				  <option value="">Select category</option>
				  <option ng-repeat="category in feedCategories" value="{{category.categoryId}}">{{category.name}}</option>
				  <option id="newCategoryOption" value="new">"New Category"</option>
				</select>
			</div>
			<div class="form-group" ng-show="currentFeed.categoryId == 'new'">
			    <label for="url">New Category Name *</label>
			    <input type="text" class="form-control" id="url" placeholder="Enter new category name" ng-model="currentFeed.newCategoryName" ng-change="validateForm(currentFeed, addFeedForm)" autocomplete="off">
			</div>
	      </div>
	      <div class="modal-footer">
	      	<input type="hidden" ng-model="currentFeed.userName" value="{{username}}">
	      	<input type="hidden" ng-model="currentFeed.feedId" value="{{currentFeed.feedId}}">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" ng-disabled="invalidForm" ng-click="saveFeed(currentFeed)">Save changes</button>
	      </div>
      </form>
    </div>
  </div>
</div>

<div id="footer_container">
    <div id="footer">
        Footer Content
    </div>
</div>

