<ng-include src="'app/partials/loggedInHeader.html'"></ng-include>
 
<div id="settings" class="container-fluid">
<h2>Manage Feeds</h2>
<span id="addFeed" ng-click="addFeed()" data-toggle="modal" data-target="#feedModal"><i class="icon-rss"></i>Add New Feed</span>
<ang-accordion icon-position="left" close-icon-url="Content/images/right-icon.png" open-icon-url="Content/images/down-icon.png">
    <collapsible-item ng-repeat="category in feedCategories" item-title="{{category.name}}" close-icon-class="glyphicon-edit" open-icon-class="glyphicon-trash">
        <div>
        	<div class="categoryActions">
        		<span class="editCategory" ng-click="editCategory(category)" data-toggle="modal" data-target="#categoryModal"><span class="glyphicon glyphicon-edit"></span> Edit Category</span>
        		<span class="deleteCategory" ng-click="deleteCategory(category)"><span class="glyphicon glyphicon-trash"></span> Delete Category</span>
        		
        		
        	</div>
        	<br>
        	<ol class="feeds">
        		<li ng-repeat="feed in category.feeds">
					<span class="feedName">{{feed.name}}</span>
					<span class="feedBtns">
						<span class="editFeed glyphicon glyphicon-edit" ng-click="editFeed(feed, feedCategory)" data-toggle="modal" data-target="#feedModal"></span>
						<span class="deleteFeed glyphicon glyphicon-trash" ng-click="deleteFeed(feed)"></span>
					</span>
				</li>
			</ol>
		</div>
    </collapsible-item>
</ang-accordion>


<div class="modal fade" id="feedModal" tabindex="-1" role="dialog" aria-labelledby="feedModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="addFeedForm" role="form">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Add new feed</h4>
	      </div>
	      <div class="modal-body">
	        <div class="form-group">
			    <label for="feedName">Name *</label>
			    <input type="text" class="form-control" id="feedName" placeholder="Enter feed name" ng-model="currentFeed.name" ng-change="validateForm(currentFeed, addFeedForm)" autocomplete="off" required>
			</div>
			<div class="form-group">
			    <label for="url">URL *</label>
			    <input type="url" class="form-control" id="url" placeholder="Enter feed url" ng-model="currentFeed.url" ng-change="validateForm(currentFeed, addFeedForm)" autocomplete="off" required>
			</div>
			<div class="form-group">
			    <label for="category">Category</label>
			    <select id="category" class="form-control" name="category" ng-model="currentFeed.categoryId" ng-change="validateForm(currentFeed, addFeedForm)" autocomplete="off" required>
				  <option value="">Select category</option>
				  <option ng-repeat="category in feedCategories" value="{{category.categoryId}}">{{category.name}}</option>
				  <option id="newCategoryOption" value="new">"New Category"</option>
				</select>
			</div>
			<div class="form-group" ng-show="currentFeed.categoryId == 'new'">
			    <label for="url">New Category Name *</label>
			    <input type="text" class="form-control" id="url" placeholder="Enter new category name" ng-model="currentFeed.newCategoryName" ng-change="validateForm(currentFeed, addFeedForm)" autocomplete="off">
			</div>
	      </div>
	      <div class="modal-footer">
	      	<input type="hidden" ng-model="currentFeed.userName" value="{{username}}">
	      	<input type="hidden" ng-model="currentFeed.feedId" value="{{currentFeed.feedId}}">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" ng-disabled="invalidForm" ng-click="saveFeed(currentFeed)">Save changes</button>
	      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="categoryForm" role="form">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Edit feed</h4>
	      </div>
	      <div class="modal-body">
	        <div class="form-group">
			    <label for="feedName">Name *</label>
			    <input type="text" class="form-control" id="categoryName" placeholder="Enter Category Name" ng-model="currentCategory.name" ng-change="validateCategoryForm(categoryForm)" autocomplete="off" required>
			</div>
	      </div>
	      <div class="modal-footer">
	      	<input type="hidden" ng-model="currentCategory.userName" value="{{username}}">
	      	<input type="hidden" ng-model="currentCategory.categoryId" value="{{currentCategory.categoryId}}">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" ng-disabled="invalidCategoryForm" ng-click="saveCategory(currentCategory)">Save changes</button>
	      </div>
      </form>
    </div>
  </div>
</div>

<div id="footer_container">
    <div id="footer">
        Footer Content
    </div>
</div>

