
$PRIMARY_COLOUR : whitesmoke;
$BACKGROUND : white;
$MAIN_TEXT : black;


$OUTLOOK365_APPS_BACKGROUND_COLOUR : #0072c6;
$OUTLOOK365_ACTIVE_STATUS : #5dd255;
$OUTLOOK365_STATUS_BACKGROUND : #a6a6a6;
$OUTLOOK365_TOOLBAR_BACKGROUND_COLOUR : #e6f2fa; 
$OUTLOOK365_TOOLBAR_ICON_COLOUR : #2c94de;