#header {
	z-index : 2;
	height: 35px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#76a0c2), color-stop(100%,#5a87ab));
	margin-bottom: 10px;
	padding-top: 5px;
	position: fixed;
	width: 100%;
	color: WHITE;

	#mini-logo {
		margin-left: 25px;
		font-size: 1.5em;
  		margin-top: 5px;
	}

	#settings {
		height: 35px;
		padding: 0px 5px;
	}

	#name, #refresh {
		padding: 0px 5px;	
	}

	#header-nav {
		float: right;
		cursor: pointer;
		margin: 7px;
	}
}